body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    color: #2b2839;
    background: #ddebf8;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    width: 400px;
    margin: 10px auto;
    border-bottom: 7px solid #d8cefe;
    
}

.second-details {
    text-align: center;
}

